Repository intel/he-transformer: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

more test
  .pre-commit-config.yaml
  examples/ImageNet/MobileNetV2/client.py
  examples/ImageNet/MobileNetV2/test.py
  examples/ImageNet/MobileNetV2/util.py
  examples/MNIST/Cryptonets-Relu/train.py
  examples/MNIST/Cryptonets/train.py
  examples/MNIST/MLP/train.py
  examples/MNIST/mnist_util.py
  examples/MNIST/pyclient_mnist.py
  examples/MNIST/test.py
  examples/ax.py
  examples/pyclient.py
  src/protos/message.proto
Due: clang-format, yapf

Avoid global string
  .pre-commit-config.yaml
  test/test_add.in.cpp
  test/test_avg_pool.in.cpp
  test/test_basics.in.cpp
  test/test_batch_norm_inference.in.cpp
  test/test_broadcast.in.cpp
  test/test_concat.in.cpp
  test/test_constant.in.cpp
  test/test_convolution.in.cpp
  test/test_divide.in.cpp
  test/test_dot.in.cpp
  test/test_exp.in.cpp
  test/test_layers.in.cpp
  test/test_max.in.cpp
  test/test_maxpool.in.cpp
  test/test_minimum.in.cpp
  test/test_multiply.in.cpp
  test/test_negate.in.cpp
  test/test_pad.in.cpp
  test/test_power.in.cpp
  test/test_read_write.in.cpp
  test/test_relu.in.cpp
  test/test_rescale.in.cpp
  test/test_reshape.in.cpp
  test/test_result.in.cpp
  test/test_reverse.in.cpp
  test/test_server_client.in.cpp
  test/test_server_client_gc.in.cpp
  test/test_slice.in.cpp
  test/test_softmax.in.cpp
  test/test_subtract.in.cpp
  test/test_sum.in.cpp
  test/test_util.hpp
Due: clang-format, cpplint

Test
  .pre-commit-config.yaml
Due: none

More fixes
  CONTRIB.md
  maint/bash_lib.sh
  maint/clang_format_lib.sh
  maint/yapf_lib.sh
  python/pyhe_client/pyhe_client.cpp
  src/seal/opset_he_seal_tbl.hpp
  test/test_perf_micro.cpp
Due: clang-format, cpplint

Update to latest pre-commit config
  .pre-commit-config.yaml
Due: none

Update yapf version
  contrib/docker/Dockerfile.he_transformer.ubuntu1804
Due: none

Remove untested Dockerfiles
  README.md
  contrib/docker/Dockerfile.he_transformer.centos74
  contrib/docker/Dockerfile.he_transformer.fedora28
  contrib/docker/Dockerfile.he_transformer.ubuntu1604
  contrib/docker/Dockerfile.he_transformer.ubuntu1804
  contrib/docker/Makefile
  contrib/docker/README.md
  contrib/docker/build-he-transformer-and-test.sh
  contrib/docker/make_docker_image.sh
  contrib/docker/run_as_centos_user.sh
  contrib/docker/run_as_fedora_user.sh
Due: none

Compiles; unit-tests fails
  CMakeLists.txt
  cmake/abseil.cmake
  src/CMakeLists.txt
  src/he_plaintext.cpp
  src/he_plaintext.hpp
  src/he_tensor.cpp
  src/he_type.cpp
  src/he_util.cpp
  src/he_util.hpp
  src/seal/kernel/avg_pool_seal.hpp
  src/seal/kernel/batch_norm_inference_seal.hpp
  src/seal/kernel/constant_seal.cpp
  src/seal/kernel/convolution_seal.cpp
  src/seal/kernel/max_seal.hpp
  src/seal/kernel/multiply_seal.cpp
  src/seal/kernel/sum_seal.hpp
  src/seal/seal_util.cpp
  test/test_constant.in.cpp
  test/test_he_plaintext.cpp
  test/test_he_tensor.cpp
  test/test_he_type.cpp
  test/test_seal_util.cpp
Due: clang-format, cpplint

WIP debugging sum_trivial
  src/he_plaintext.cpp
  src/he_tensor.cpp
  src/he_type.cpp
  src/he_type.hpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/multiply_seal.cpp
  src/seal/kernel/sum_seal.hpp
  src/seal/seal_util.cpp
  test/test_sum.in.cpp
Due: clang-format, cpplint

unit-tests pass; large_plain_constant to 1081ms from 3173ms
  src/he_type.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Cleanup
  cmake/abseil.cmake
  src/he_plaintext.hpp
  src/he_tensor.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/sum_seal.hpp
  src/seal/seal_util.cpp
  test/test_sum.in.cpp
Due: clang-format, cpplint

Cleanup docs and other things
  README.md
  cmake/abseil.cmake
  cmake/seal.cmake
  examples/MNIST/README.md
  examples/README.md
  python/CMakeLists.txt
  python/setup.py
  src/he_tensor.cpp
  src/he_type.hpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/dot_seal.cpp
  src/seal/kernel/multiply_seal.cpp
Due: clang-format, cpplint, yapf

Cleanup
  test/test_constant.in.cpp
Due: clang-format, cpplint

Dummy PR
  README.md
Due: none

Fix abseil install; cleanup
  cmake/abseil.cmake
  src/he_type.hpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Cleanup
  cmake/seal.cmake
Due: none

lib_he_seal_backend.so builds quickly
  CMakeLists.txt
  cmake/ngraph.cmake
  cmake/seal.cmake
  src/CMakeLists.txt
Due: none

Fboemer/faster constant (#26)
  CMakeLists.txt
  README.md
  cmake/abseil.cmake
  cmake/seal.cmake
  examples/MNIST/README.md
  examples/README.md
  python/CMakeLists.txt
  python/setup.py
  src/CMakeLists.txt
  src/he_plaintext.cpp
  src/he_plaintext.hpp
  src/he_tensor.cpp
  src/he_type.cpp
  src/he_type.hpp
  src/he_util.cpp
  src/he_util.hpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/avg_pool_seal.hpp
  src/seal/kernel/batch_norm_inference_seal.hpp
  src/seal/kernel/constant_seal.cpp
  src/seal/kernel/convolution_seal.cpp
  src/seal/kernel/dot_seal.cpp
  src/seal/kernel/max_seal.hpp
  src/seal/kernel/multiply_seal.cpp
  src/seal/kernel/sum_seal.hpp
  src/seal/seal_util.cpp
  test/test_constant.in.cpp
  test/test_he_plaintext.cpp
  test/test_he_tensor.cpp
  test/test_he_type.cpp
  test/test_seal_util.cpp
Due: clang-format, cpplint, yapf

Fixed SEAL install dirs; libhe_seal_backend builds
  cmake/ngraph.cmake
  cmake/seal.aby_patch
  cmake/seal.cmake
  cmake/seal.patch
  test/CMakeLists.txt
Due: none

unit-tests run
  cmake/ngraph.cmake
  test/CMakeLists.txt
Due: none

Update pybind11 version; fix import error on ngraph-bridge
  cmake/ngraph-tf.cmake
  cmake/ngraph-tf.patch
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: none

Cleanup
  src/CMakeLists.txt
  test/CMakeLists.txt
Due: none

Add parallel option
  CMakeLists.txt
  cmake/ngraph.cmake
Due: none

Fix build dirs
  cmake/abseil.cmake
  cmake/ngraph.cmake
  test/test_perf_micro.cpp
Due: clang-format, cpplint

unit-tests from 82s to 36s
  src/seal/he_seal_backend.cpp
  src/seal/he_seal_backend.hpp
  test/test_perf_micro.cpp
Due: clang-format, cpplint

Fix install dir
  CMakeLists.txt
  cmake/ngraph.cmake
Due: none

Fix install dir
  cmake/ngraph.cmake
Due: none

Fixed python build
  cmake/abseil.cmake
  cmake/seal.cmake
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: none

Fboemer/ngraph dep (#27)
  CMakeLists.txt
  cmake/abseil.cmake
  cmake/ngraph-tf.cmake
  cmake/ngraph-tf.patch
  cmake/ngraph.cmake
  cmake/seal.aby_patch
  cmake/seal.cmake
  cmake/seal.patch
  python/CMakeLists.txt
  src/CMakeLists.txt
  src/seal/he_seal_backend.cpp
  src/seal/he_seal_backend.hpp
  test/CMakeLists.txt
  test/test_perf_micro.cpp
Due: clang-format, cpplint

in-place add when possible
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/dot_seal.cpp
  src/seal/seal_util.cpp
  test/test_dot.in.cpp
Due: clang-format, cpplint

WIP
  src/seal/seal_util.cpp
  src/seal/seal_util.hpp
Due: clang-format, cpplint

WIP
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/dot_seal.cpp
  src/seal/kernel/multiply_add_seal.hpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Cleanup
  src/seal/seal_util.cpp
  src/seal/seal_util.hpp
Due: clang-format, cpplint

WIP for mult-addd op
  src/seal/kernel/dot_seal.cpp
  src/seal/kernel/multiply_add_seal.hpp
Due: clang-format, cpplint

WIP
  src/seal/kernel/dot_seal.cpp
  src/seal/kernel/multiply_add_seal.hpp
Due: clang-format, cpplint

Added pre-commit
  .pre-commit-config.yaml
Due: none

Remove yapf
  .pre-commit-config.yaml
Due: none

cpplint --filter=-runtime/references,-readability/nolint,-build/c++11 --recursive --exclude=./src/seal/opset_he_seal_tbl.hpp ./src and on ./test
  src/seal/opset_he_seal_tbl.hpp
  test/test_add.in.cpp
  test/test_avg_pool.in.cpp
  test/test_basics.in.cpp
  test/test_batch_norm_inference.in.cpp
  test/test_broadcast.in.cpp
  test/test_concat.in.cpp
  test/test_constant.in.cpp
  test/test_convolution.in.cpp
  test/test_divide.in.cpp
  test/test_dot.in.cpp
  test/test_exp.in.cpp
  test/test_layers.in.cpp
  test/test_max.in.cpp
  test/test_maxpool.in.cpp
  test/test_minimum.in.cpp
  test/test_multiply.in.cpp
  test/test_negate.in.cpp
  test/test_pad.in.cpp
  test/test_perf_micro.cpp
  test/test_power.in.cpp
  test/test_read_write.in.cpp
  test/test_relu.in.cpp
  test/test_rescale.in.cpp
  test/test_reshape.in.cpp
  test/test_result.in.cpp
  test/test_reverse.in.cpp
  test/test_server_client.in.cpp
  test/test_server_client_gc.in.cpp
  test/test_slice.in.cpp
  test/test_softmax.in.cpp
  test/test_subtract.in.cpp
  test/test_sum.in.cpp
  test/test_util.hpp
Due: clang-format, cpplint

pre-commit run --all-files
  CONTRIB.md
  cmake/ngraph-tf.patch
  maint/bash_lib.sh
  maint/clang_format_lib.sh
  maint/yapf_lib.sh
  src/protos/message.proto
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  yapf: any of: \.py$
